* {
  box-sizing: border-box;
  font-family: 'Amatic SC', sans-serif;
  color: #ffffff;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #ffffff;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.oi{
  box-sizing: border-box;
  font-family: 'Amatic SC', sans-serif;
  color: #2A7AE4;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  background: orange;
  display: flex;
  flex-direction: column ;
}